$headerFontSize: 1em;

$mainText: #3f3f3f;
$mainButton: #00aaff;
$mainButtonHover: #ff00d4;
$mainBackgroundColor: #91e9e2;

$subButton: #f115f1;
$subButtonHover: #8295ff;
$subBackgroundColor: #f8b9f8;
